
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        h1 {
            text-align: center;
        }

        img {
            width: 200px;
            height: 150px;
        }

        .hover {
            position: relative;
        }

        .div-hover {
            position: absolute;
            display: none;
        }

        .hover:hover .div-hover {
            display: block;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>List Product</h1>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" th:href="@{/products/create}">Create new product</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary" th:href="@{/products/category}">List category</a>
        </div>
        <div class="col-4">
            <form  th:action="@{/products/search}" method="get" >
                <label><input type="text" th:value="${search}"    name="search"></label>
                <button  class="btn btn-primary">Search</button>
                <div>
                    <label>Category: <select name="category" th:selected="category" >
                        <option value="0">---</option>
                        <option th:each="c : ${categories}" th:text="${c.name}"  th:value="${c.id}"></option>
                    </select></label><br>
                </div>
            </form>
        </div>
        <div>
        <div class="hover">
            <a class="btn btn-primary" href="#">Cart</a>
            <table class="table table-striped div-hover" style="background-color: #f2f0f0; width: 50%; z-index: 1">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th colspan="1" style="text-align: center" >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="p, status : ${listCard}">
                    <td th:text="${status.count}"></td>
                    <td ><a th:text="${p.name}" th:href="@{/products/detail/__${p.id}__}" style="color: black;text-decoration: none"></a></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td th:text="${p.category.name}"></td>
                    <td><a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')"
                           th:href="@{/products/deleteCard/__${p.id}__}">DeleteCard</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

    </div>
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>STT</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>price</th>
            <th>Quantity</th>
            <th>description</th>
            <th>Category</th>
            <th colspan="2" style="text-align: center" >Action</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="p, status : ${products}">
            <td th:text="${status.count}"></td>
            <td><img th:src="@{'/image/' + ${p.imagePath}}" alt=""></td>
            <td ><a th:text="${p.name}" th:href="@{/products/detail/__${p.id}__}" style="color: black;text-decoration: none"></a></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.category.name}"></td>
            <td><a class="btn btn-warning" onclick="return confirm('Bạn có chắc chắn muốn sửa sản phẩm này?')"
                   th:href="@{/products/update/{id}(id=${p.id})}">Update</a>
            </td>
            <td><a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')"
                   th:href="@{/products/delete/__${p.id}__}">Delete</a>
            </td>
            <td><a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')"
                   th:href="@{/products/buy/__${p.id}__}">Buy</a>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <div>
            <a th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
            <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
            <a th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
        </div>
    </table>
</div>
</body>
</html>